div(id="FxDoubleOneTouch")
  h3 Double One Touch
  | Double one touch is an option which pays a fixed amount if either of two barriers are crossed by the underlying.
  br
  center
    img.img-fluid(src='/img/valuation/fx_double_one_touch.svg')
  a.btn.btn-default(ui-sref="products.pricer({productId:'FxDoubleOneTouch'})" role="button") Go to pricer
      
