div(id="FxDoubleNoTouch")
  h3 Double No Touch
  | Double no touch is an option which pays a fixed amount if neither of two barriers are crossed by the underlying.
  br
  center
    img.img-fluid(src='/img/valuation/fx_double_no_touch.svg')
  a.btn.btn-default(ui-sref="products.pricer({productId:'FxDoubleNoTouch'})" role="button") Go to pricer
