div(id="FxEuropeanOption")
  h3 European Option
  | FX European option is an option to exchange one amount in first currency against another amount in second currency.
  br
  center
    img.img-fluid(src='/img/valuation/fx_call.svg')
      
    img.img-fluid(src='/img/valuation/fx_put.svg')
  a.btn.btn-default(ui-sref="products.pricer({productId:'FxEuropeanVanillaOption'})" role="button") Go to pricer
