div(id="FxForward")
  h3 Forward
  | FX Forward is a forex instrument where party A pays a fixed amount to party B on a maturity date in return for the agreed fixed rate in a second currency.
  br
  center
    img.img-fluid(src='/img/valuation/fx_forward.svg')
  a.btn.btn-default(ui-sref="products.pricer({productId:'FxForward'})" role="button") Go to pricer
