div(id="FxNoTouch")
  h3 No Touch
  | No touch is an option which pays a fixed amount to the option owner is the underlying doesn't cross the barrier during the monitoring period.
  br
  center
    img.img-fluid(src='/img/valuation/fx_no_touch.svg')
  a.btn.btn-default(ui-sref="products.pricer({productId:'FxNoTouch'})" role="button") Go to pricer
