div(id="FxOneTouch")
  h3 One Touch
  | One touch is an option which pays fixed amount to the option owner when the underlying crosses the pre-defined barrier.
  br
  center
    img(src='/img/valuation/fx_one_touch.svg')
      
  a.btn.btn-default(ui-sref="products.pricer({productId:'FxOneTouch'})" role="button") Go to pricer
