div(id="FxSpot")
  h2 Spot
  | FX Spot is the simplest forex instrument. On spot date, which is usually one or two business days depending on the currency, party A pays a party B a fixed amount in one currency in exchange for another fixed amount in a second currency.
  br
  center
    img.img-fluid(src='/img/valuation/fx_spot.svg')
  a.btn.btn-default(ui-sref="products.pricer({productId:'FxSpot'})" role="button") Go to pricer
  
