div(id="FxSwap")
  h3 Swap
  | FX Swap is a forex instrument where party A pays a fixed amount to party B on the spot date and gets back the same amount at the maturity.
  | In return party B pays an agreed amount in a second currency on the spot date and gets back another agreed amount in the second currency at the maturity date.
  br
  center
    img.img-fluid(src='/img/valuation/fx_swap.svg')
  a.btn.btn-default(ui-sref="products.pricer({productId:'FxSwap'})" role="button") Go to pricer
