extends ../PricerLayout
include ../mixins
block pricerBlk
  fieldset.group-border.form-horizontal(ng-disabled="$ctrl.isDisabled")
    legend Input Data
    +selectField('Underlying', 'underlying')(ng-options="o for o in $ctrl.underlyings track by o" ng-model="$ctrl.inputs.underlying" ng-change="$ctrl.updateCurrencies();$ctrl.getFXSpot()")
    +inputField('Settlement Date', 'settlementDate')(type='date' ng-model='$ctrl.inputs.settlementDate')
    +inputField('Expiry Date', 'expiryDate')(type='date' ng-model='$ctrl.inputs.expiryDate')
    +selectField('Settlement Type', 'settlementType', 'Cash', 'Delivery')(ng-model="$ctrl.inputs.settlementType")
    +inputField('Notional', 'notional')(type='number', name='notional', required, ng-model='$ctrl.inputs.notional', step="0.01")
      +hints('notional')
    +selectField('Notional Currency', 'notionalCurrency')(ng-model="$ctrl.inputs.notionalCurrency" ng-options="currency for currency in $ctrl.currencies")
    +selectField('Option Type', 'optionType', 'Call', 'Put')(ng-model="$ctrl.inputs.optionType")
    +inputField('Strike', 'strike')(type='number', name='strike', required, ng-model='$ctrl.inputs.strike', step="0.0001")
      +hints('strike')
